previous_software/
src/pre_processor.py
src/in_silico_analysis.py
external_scripts/diat-barcode_pre-process/diat.barcode_release-version_12.4.xlsx
**/__pycache__/
.vscode/
external_scripts/crabs
data/test_data/test_assign_tax.fasta
data/test_data/test_assign_tax.json
data/test_data/test_assign_tax.fasta
external_scripts/pga_tests
mozaiko.egg-info
external_scripts/bold-selected.tsv
external_scripts/bold-selected-missing-idm-filter.tsv
external_scripts/idm.txt
external_scripts/mc.txt
external_scripts/res.tsv
external_scripts/bold-selected-highest_tax.tsv
tests/conftest.py
external_scripts/bold-selected-highest_tax_harmonized.tsv
external_scripts/bold-selected-init-preprocess.tsv
external_scripts/tax_harmonize.py
external_scripts/bold-selected-merged.tsv
external_scripts/bold-pre-process/bold-pre-processed.tsv
external_scripts/bold-pre-process/bold-selected-merged-clean.tsv
external_scripts/final-unique-idm.tsv
external_scripts/bold-pre-process/bold_derep.fasta
external_scripts/bold-pre-process/bold_clustered.fasta.clstr
data/input_data/BMI/bold_clustered_derep.tsv
data/input_data/BMI/bmi_database_idm_subset_processed.fasta
data/input_data/BMI/bmi_database_idm_subset.fasta
data/input_data/BMI/bmi_database.fasta
data/input_data/BMI/bold_idm_filt_processed.fasta
data/input_data/BMI/bold_idm_filt.fasta
data/input_data/BMI/bmi_database_processed.fasta
data/output_data/*
data/test_data/test_filter_intersection
pipeline_bmi_test_inters.ipynb
pipeline_dia_test_inters.ipynb
test-bf3-mismatches-dystera.ipynb
data/input_data/test-bf3

