previous_software/
src/draft.ipynb
src/database.py
src/pre_processor.py
src/visualizations.py
src/primer_scoring.py
src/in_silico_analysis.py
external_scripts/diat-barcode_pre-process/diat.barcode_release-version_12.4.xlsx
src/reference_database/database_assembly.py
src/utils/
src/seq_derep
**/__pycache__/
.vscode/
external_scripts/crabs
data/output_data/*
data/test_data/test_assign_tax.fasta
data/test_data/test_assign_tax.json
data/test_data/test_assign_tax.fasta