previous_software/
src/draft.ipynb
src/pre_processor.py
src/in_silico_analysis.py
external_scripts/diat-barcode_pre-process/diat.barcode_release-version_12.4.xlsx
**/__pycache__/
.vscode/
external_scripts/crabs
data/output_data/*
data/test_data/test_assign_tax.fasta
data/test_data/test_assign_tax.json
data/test_data/test_assign_tax.fasta