bio==1.7.1
biopython==1.83
biothings-client==0.3.1
idna==2.10
isort==5.13.2
mygene==3.2.2
nsdpy==1.0.0
numpy==2.0.0
pandas==2.2.2
pylint==3.2.5
requests==2.32.3
setuptools==70.2.0
tomlkit==0.13.0
tqdm==4.66.4
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.26.19
wheel==0.43.0
